@import url('https://fonts.googleapis.com/css2?family=Irish+Grover&family=Kadwa:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --orange: #F77F00;
    --brown: #BD6E1A;
    --blue: #0D3B66;
    --beige: #FAF0CA;
    --title-font: "Irish Grover", system-ui;
    --main-font: "Kadwa", serif;

}

/* HEADER */

header {
    background-color: var(--brown);
    font-family: var(--title-font);
    text-transform: uppercase;
    text-align: center;
    color: var(--beige);
    height: 4rem;
    padding-top: 1rem;
}

/* MAIN */

main {
    background-color: var(--beige);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    max-width: 360px;
}

div {
    display: grid;
    grid-template-columns: repeat(5, 4rem);
    grid-template-rows: repeat(5, 4rem);
    gap: 0.4rem;
    max-width: 360px;
    width: 100%;

}

/* GRID */

.grid {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(--title-font);
    text-transform: uppercase;
    border: solid .4rem red;
    width: 4.9rem;
    height: 4.9rem;
}

.beige {
    background-color: var(--beige);
}

img {
    width: 4.1rem;
    height: 4.1rem;
}

a {
    text-decoration: none;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

a:hover {
    background-color: var(--orange);
    color: var(--beige);
    transform: scale(1.1);
}