/* GLOBAL RULES */
@import url('https://fonts.googleapis.com/css2?family=Irish+Grover&family=Kadwa:wght@400;700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --orange: #F77F00;
    --brown: #BD6E1A;
    --blue: #0D3B66;
    --beige: #FAF0CA;
    --title-font: "Irish Grover", system-ui;
    --main-font: "Kadwa", serif;

}

body {
    background-color: var(--beige);
    font-family: var(--main-font);

}

a {
    text-decoration: none;
}


/* GLOBAL RULES END */

/* MOBILE RULES */

/* HEADER */

header {
    background-color: var(--brown);
    font-family: var(--title-font);
    display: flex;
    width: 100svw;
    justify-content: space-between;
    align-items: center;
    color: var(--beige);
    font-size: 1rem;
    height: 10svh;
    box-shadow: 0rem 0.5rem 0.5rem rgba(0, 0, 0, .2);
    position: relative;
    z-index: 1;

}

header svg {
    fill: var(--beige);
    height: 10svw;
    display: none;
}

/* HEADER END*/

main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

/* RESULTS SECTION */

.results {
    background-color: var(--orange);
    width: 57svw;
    height: 41svh;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 0 0 100rem 100rem;
    box-shadow: 0.25rem 0.25rem 0.25rem rgba(0, 0, 0, .2);
    color: var(--blue);
    font-size: 1.5rem;
}

h2 {
    padding-top: 5svh;
    font-size: 1.5rem;
    color: var(--blue);
}

.variable {
    font-size: 3rem;
    font-weight: 600;
    padding-top: 4svh;
    text-shadow: 0.15rem 0.25rem 0.25rem rgba(0, 0, 0, .4);
}

.desktop {
    display: none;
}

/* RESULTS SECTION END*/

/* BAD ANSWER SECTION*/
.bad-answer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5svw;
}

.bad-answer h2 {
    padding: 3svh 0;
    font-size: 1.5rem;
}

.bad-answer p {
    font-size: 1rem;
    font-style: italic;
    color: var(--blue);
    padding: 2dvh 5svw;
}

/* BAD ANSWER SECTION END*/

button {
    background-color: var(--blue);
    font-family: var(--title-font);
    color: var(--orange);
    font-size: 2rem;
    width: 65svw;
    height: 10svh;
    border-radius: 5rem 5rem 5rem 5rem;
    box-shadow: 6px 6px 5px rgb(247, 127, 0, 0.4)
}

.disapear {
    display: none;
}

.bi-arrow-right-circle-fill {
    display: none;
}




/* MOBILE RULES END*/


/* DESKTOP RULES */

@media screen and (min-width:920px) {

    /* HEADER RULES */

    header svg {
        fill: var(--beige);
        height: 3rem;
        display: flex;
    }

    .bi-house-door-fill {
        padding-left: 1rem;
        display: none;
    }

    h1 {
        font-size: 3rem;
    }

    .bi-list {
        padding-right: 1rem;
    }

    header {
        margin: 0;
        height: 130px;
    }

    .bi-arrow-right-circle-fill {
        display: none;
    }

    /* END HEADER RULES */


    /* BODY RULES */

    .results {

        margin-top: 10svh;
        width: 616px;
        height: 335px;
        border-radius: 2rem 2rem 2rem 2rem;
    }

    .mobile {
        display: none;
    }

    h2 {
        padding-top: 2rem;
    }

    .variable {
        padding: 0rem;
        font-size: 3rem;
        margin: 0rem;
    }

    .desktop {
        display: flex;
    }

    .nombre-mauvaises-rep {
        background: rgb(247, 127, 0);
        background: linear-gradient(180deg, rgba(247, 127, 0, 1) 40%, rgba(189, 110, 26, 1) 80%);
        width: 157px;
        height: 147px;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 10rem 10rem 10rem 10rem;
    }



    .bad-answer p {
        width: 616px;
        font-size: 1.5rem;
        font-style: italic;
        color: var(--blue);
        padding: 0;
        font-weight: 300;
    }

    button {
        width: 616px;
        height: 65px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .disapear {
        display: flex;
        width: 65px;
        height: 65px;
        fill: var(--blue);


    }

    .bi-arrow-right-circle-fill {
        display: flex;
        width: 60px;
        height: 60px;
        fill: var(--blue);
        background-color: var(--orange);
        outline: 1px solid #0D3B66;
        border-radius: 10rem 10rem 10rem 10rem;
    }

    /* END BODY RULES */

}

/* END DESKTOP RULES */