/* GLOBAL RULES */
@import url('https://fonts.googleapis.com/css2?family=Irish+Grover&family=Kadwa:wght@400;700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button {
    all: unset;

}

:root {
    --orange: #F77F00;
    --brown: #BD6E1A;
    --blue: #0D3B66;
    --beige: #FAF0CA;
    --title-font: "Irish Grover", system-ui;
    --main-font: "Kadwa", serif;

}

body {
    background-color: var(--beige);
    font-family: var(--main-font);

}

.blur {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.blur.open {
    filter: blur(10px);
}

a {
    all: unset
}


/* GLOBAL RULES END */

/* MOBILE RULES */

/* HEADER */
header {
    background-color: var(--brown);
    font-family: var(--title-font);
    display: flex;
    width: 100svw;
    justify-content: space-between;
    align-items: center;
    color: var(--beige);
    font-size: 1rem;
    height: 8svh;
    box-shadow: 0rem 0.5rem 0.5rem rgba(0, 0, 0, .2);
    position: relative;
    z-index: 1;

}


h1 {
    letter-spacing: 0.1rem
}

header svg {
    fill: var(--beige);
    height: 10svw;
    display: flex;
    transition: 0.2s;
    margin: 10px;
}

header svg:hover {
    transform: scale(1.5);
}


/* HEADER END*/

main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

/* RESULTS SECTION */

body {
    height: 100svh;
}

.results {
    background-color: var(--orange);
    width: 55svw;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 0 0 100rem 100rem;
    box-shadow: 0.25rem 0.25rem 0.25rem rgba(0, 0, 0, .2);
    color: var(--blue);
    font-size: 1.5rem;
    padding-bottom: 3vh;
}

p {
    padding: 0rem;
}

h2 {
    font-size: 2rem;
    color: var(--blue);
    margin-top: 1.2rem;
}

.variable {
    font-size: 3rem;
    font-weight: 600;
    text-shadow: 0.15rem 0.25rem 0.25rem rgba(0, 0, 0, .4);
    display: flex;
    justify-content: space-evenly;
}

.desktop {
    display: none;
}

/* RESULTS SECTION END*/

/* BAD ANSWER SECTION*/
.bad-answer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0svh 5svw;
}

.bad-answer h2 {
    padding: 1rem 0;
    font-size: 1.5rem;
}

.bad-answer p {
    font-size: 1rem;
    font-style: italic;
    color: var(--blue);
    padding: 1rem 2rem;
    width: 31ch;
}

/* BAD ANSWER SECTION END*/

.end {
    background-color: var(--blue);
    font-family: var(--title-font);
    color: var(--orange);
    font-size: 2rem;
    width: 65svw;
    max-width: 250px;
    border-radius: 5rem 5rem 5rem 5rem;
    box-shadow: 6px 6px 5px rgb(247, 127, 0, 0.4);
    display: flex;
    justify-content: center;
    padding: 0.5rem;
    margin-top: 2rem;
}

button:hover {
    transform: scale(1.05);
}

.disapear {
    display: none;
}

.bi-arrow-right-short {
    display: none;
}




/* MOBILE RULES END*/


/* DESKTOP RULES */

@media screen and (min-width:920px) {

    /* HEADER RULES */


    header {
        margin: 0;
        height: 90px;
    }

    header svg {
        fill: var(--beige);
        height: 3rem;
        display: flex;
    }

    .bi-house-door-fill {
        padding-left: 1rem;
        display: flex;
    }

    h1 {
        font-size: 3rem;
    }

    .bi-list {
        padding-right: 1rem;
    }


    /* END HEADER RULES */


    /* BODY RULES */

    .results {

        margin-top: 4svh;
        height: 45svh;
        width: 55svw;
        max-width: 630px;
        border-radius: 2rem 2rem 2rem 2rem;
    }

    .mobile {
        display: none;
    }

    h2 {
        padding-bottom: 0rem;
    }

    .variable {
        padding: 0;
        padding-top: 2rem;
        font-size: 2rem;
        margin: 0rem;
    }

    .sur10 {
        padding: 0;
    }



    .desktop {
        display: flex;
    }

    .nombre-mauvaises-rep {
        background: rgb(247, 127, 0);
        background: linear-gradient(180deg, rgba(247, 127, 0, 1) 40%, rgba(189, 110, 26, 1) 80%);
        width: 15svw;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 10rem 10rem 10rem 10rem;
    }



    .bad-answer p {
        width: 25ch;
        font-size: 2rem;
        font-style: italic;
        color: var(--blue);
        padding: 0;
        font-weight: 300;
        margin: 1rem
        
    }


    .end {
        width: 616px;
        max-width: 850px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 0rem;
    }

    .disapear {
        display: flex;
        width: 65px;
        fill: var(--blue);


    }

    .bi-arrow-right-short {
        display: flex;
        width: 60px;
        fill: var(--orange);
    }

    /* END BODY RULES */

}

/* END DESKTOP RULES */