@import url('https://fonts.googleapis.com/css2?family=Irish+Grover&family=Kadwa:wght@400;700&display=swap');

/* #region --------General */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button {
    all: unset;
}

:root {
    --orange: #F77F00;
    --brown: #BD6E1A;
    --blue: #0D3B66;
    --beige: #FAF0CA;
    --title-font: "Irish Grover", system-ui;
    --main-font: "Kadwa", serif;

}

body {
    background-color: var(--beige);
    font-family: var(--main-font);
    width: 100vw;
    height: 100svh;
    display: flex;
    flex-direction: column;
}


main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-inline: 1rem;
    flex: 1;
}

/* #endregion */

/* #region -------- Header */
.navbar {
    background-color: var(--brown);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
    margin-bottom: 1rem;

}

.navbar svg {
    fill: var(--beige);
}

.navbar a {
    height: 2rem;
    width: 2rem;
}

.navbar h1 {
    color: var(--beige);
    font-family: Irish Grover;
}

/* #endregion */

/* #region -------- Question */

.question {
    background-color: var(--orange);
    background: rgb(247, 127, 0);
    /* background: radial-gradient(circle, rgba(247, 127, 0, 1) 80%, rgba(189, 110, 26, 1) 100%); */
    color: var(--blue);
    border-radius: 0.5rem;
    margin-bottom: 1rem;
    line-height: 1.25rem;
    padding: 0.25rem 0.5rem;
    max-height: 4.25rem;
    box-shadow: 0.2rem 0.2rem 0.2rem rgba(0, 0, 0, 0.2);
    font-weight: bold;
    display: flex;

}

/* #endregion */

/* #region -------- Image */

.image {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
}

.image img {
    max-height: 13.75rem;
    max-width: auto;
    padding: 0;
    border: 2px solid var(--blue);
    box-shadow: 0.5rem 0.5rem 0.5rem rgba(0, 0, 0, 0.2);
}

/* #endregion */

/* #region -------- Réponses */

.blocReponse {
    background-color: var(--orange);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0.75rem;
    justify-content: space-between;
    align-content: space-between;
    padding: 0.75rem;
    border-radius: 0.75rem;
}

.reponse {
    color: var(--blue);
    background-color: #F8E28E;
    padding: 0.25rem;
    border-radius: 0.5rem;
    line-height: 1.25rem;
    font-size: 1rem;
    flex: 1 1 calc(50% - 1rem);
    max-height: 6.75rem;
    box-shadow: 0.5rem 0.5rem 0.5rem rgba(0, 0, 0, 0.2);
}

.reponse:hover {
    scale: 1.05;
    cursor: pointer;
}



/* #endregion */

/* #region -------- Media query Header*/
@media screen and (min-width: 992px) {
    .navbar h1 {
        font-size: 3rem;
        letter-spacing: 0.2rem;
    }

    .navbar {
        padding: 1rem;
        margin-bottom: 4rem;
    }

    .navbar a {
        height: 3rem;
        width: 3rem;
    }
}



/* #endregion */

/* #region -------- Media query Question*/

@media screen and (min-width: 992px) {
    .question {
        line-height: 2rem;
        padding: 1rem 1rem;
        box-shadow: 0.2rem 0.2rem 0.2rem rgba(0, 0, 0, 0.2);
        font-size: 1.5rem;
        max-height: unset;
        max-width: 70vw;

    }
}

/* #endregion */

/* #region -------- Media query imageReponse */

@media screen and (min-width: 992px) {
    .imageEtReponses {
        display: flex;
        flex-direction: row;
        margin-top: 4rem;
        max-height: 100%;
    }

    .image img {
        max-height: unset;
        max-width: unset;
        padding: 0;
        border: 3px solid var(--blue);
        box-shadow: 0.5rem 0.5rem 0.5rem rgba(0, 0, 0, 0.2);
        margin-top: 0.75rem;

    }

    .imageEtReponses .blocReponse {
        margin-left: 2.5rem;
        max-width: 20rem;
        background-color: var(--orange);
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        background-color: unset;
        padding-top: 0;
        padding-bottom: 0;
    }

    .imageEtReponses .blocReponse .reponse {
        border: 0.25rem solid var(--orange);
        border-radius: 1rem;
        padding: 0.75rem;
        line-height: 1.75rem;
    }

}


/* #endregion */