/* GLOBAL RULES */
@import url('https://fonts.googleapis.com/css2?family=Irish+Grover&family=Kadwa:wght@400;700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --orange: #F77F00;
    --brown: #BD6E1A;
    --blue: #0D3B66;
    --beige: #FAF0CA;
    --title-font: "Irish Grover", system-ui;
    --main-font: "Kadwa", serif;

}

/* BODY */

body {
    background-color: var(--beige);
    font-family: var(--main-font);
}

a {
    text-decoration: none;
    color: #F77F00;
}


/* GLOBAL RULES END */

/* MOBILE RULES */

/* HEADER */

header {

    background-color: var(--brown);
    font-family: var(--title-font);
    display: flex;
    width: 100svw;
    justify-content: space-between;
    align-items: center;
    color: var(--beige);
    font-size: 1rem;
    height: 8svh;
    box-shadow: 0rem 0.5rem 0.5rem rgba(0, 0, 0, .2);
    position: relative;
    z-index: 1;

}


h1 {
    letter-spacing: 0.1rem
}

header svg {
    fill: var(--beige);
    height: 10svw;
    display: flex;
    transition: 0.2s;
    margin: 10px;
}

header svg:hover {
    transform: scale(1.5);
}


/* HEADER END*/

/* Main */

main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

/* RECTANGLE SECTION */

h2 {
    color: #0D3B66;
}

.rectangle {
    background-color: var(--orange);
    width: 90%;
    max-width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 1rem;
    margin-top: 3rem;
    margin-bottom: 2rem;
    padding: 0.3rem;
    font-size: larger;
    box-shadow: 0.5rem 0.5rem 0.5rem rgba(0, 0, 0, .4);
}

.pf {
    color: #0D3B66;
    display: flex;
    justify-content: left;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
}

.pf>ul {
    padding: 0.5rem;
    width: 25ch;
}

button {
    background-color: var(--blue);
    font-family: var(--title-font);
    color: #F77F00;
    font-size: 2rem;
    width: 70svw;
    border-radius: 5rem 5rem 5rem 5rem;
    box-shadow: 6px 6px 5px rgb(247, 127, 0, 0.4);
    display: flex;
    justify-content: center;
    padding: 0.5rem;
    margin-top: 1rem;
}

button:hover {
    transform: scale(1.05);
}

.disapear {
    display: none;
}

.bi-arrow-right-short {
    display: none;
}

.welcolme {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.end:hover {
    cursor: pointer;
}

/* MOBILE RULES END*/


/* DESKTOP RULES */

@media screen and (min-width:920px) {

    /* HEADER RULES */

    header {
        margin: 0;
        height: 90px;
    }

    header svg {
        fill: var(--beige);
        height: 3rem;
        display: flex;
    }

    .bi-house-door-fill {
        padding-left: 1rem;
        display: flex;
    }

    h1 {
        font-size: 3rem;
    }

    .bi-list {
        padding-right: 1rem;
    }



    /* END HEADER RULES */

    /* BODY RULES */

    .rectangle {
        background-color: var(--orange);
        width: 85%;
        height: 100px;
        max-width: 550px;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 1rem;
        font-size: bold;
        margin-top: 15vh;
        padding: 10px;
    }

    h1 {
        letter-spacing: 0.2rem border: solid 2px black;
    }

    h2 {
        font-size: 2.5rem;
    }

    .pf {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .pf>ul {
        width: 35ch;
        font-size: 1.5rem;
        margin-top: 20px;
    }

    button {
        width: 550px;
        max-width: 850px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 auto;
    }

    .disapear {
        display: flex;
        width: 65px;
        fill: var(--blue);
    }

    .bi-arrow-right-short {
        display: flex;
        width: 60px;
        fill: var(--orange);
    }

    .section-end-button {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 40px;
    }
}



/* END BODY RULES */



/* END DESKTOP RULES */